.q-slider {
    & {width: 1200px; margin-left: auto; margin-right: auto;}

    &__slider {position: relative; width: 100%; padding: 0 50px;}
    &__slide {flex: none;}
    &__slide > * {pointer-events: none;}

    &__slider_is-vertical {
        img {width: auto; height: 100%;}
        & {height: 800px;}
        .imageslider__draggable-track {height: 100%;}
        .imageslider__track {display: block; height: 100%;}
    }

    &__draggable-track {overflow: hidden;}
    &__track {
        & {display: flex; user-select: none; transition: transform 0.3s ease;}
        &_no-transition {transition: none;}
    }

    &__track_fading-track {position: relative;}
    
    &__track_fading-track &__slide {width: 100%;}
    &__track_fading-track &__slide_is-current {position: relative; z-index: 5;}
    &__track_fading-track &__slide_is-next {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

    &__arrow {position: absolute; top: 50%; transform: translateY(-50%); width: 36px; height: 36px; z-index: 5; cursor: pointer;}
    &__arrow::before {content: ''; position: absolute; top: 0; display: block; width: 100%; height: 100%; border-color: black; border-left: 2px solid; border-top: 2px solid;}
    &__arrow_prev {left: 0;}
    &__arrow_prev::before {left: 8px; transform: rotate(-45deg);}
    &__arrow_next {right: 0;}
    &__arrow_next::before {right: 8px; transform: rotate(135deg);}

    &__pagination {display: flex;}
    &__pagination-item {width: 12px; height: 12px; background: black; opacity: 0.5; margin: 0 3px; border-radius: 100%; transition: opacity 0.2s ease;}
    &__pagination-item_is-current {opacity: 1;}
}